---
layout: layout.njk
title: Exhibitions – Connelly Project Space
---

<h2>Exhibitions</h2>
<ul class="exhibition-list">
  <li class="exhibition-item">
    <a href="/exhibitions/chicken-stingel" class="exhibition-link">
      <div class="thumbnail"></div>
      <div class="exhibition-text">
        <strong>Chicken Stingel</strong><br>
        Kenny Schachter, Maura & Margaret<br>
        Opened May 25, 2025
      </div>
    </a>
  </li>
  <li class="exhibition-item">
    <a href="/exhibitions/institute-of-chicken-art" class="exhibition-link">
      <div class="thumbnail"></div>
      <div class="exhibition-text">
        <strong>Institute of Chicken Art</strong><br>
        Zara Connelly<br>
        Opened March 31, 2025
      </div>
    </a>
  </li>
</ul>
