---
layout: layout.njk
title: "Connelly Project Space"
permalink: "/index.html"
---

<section class="highlight">
  <h2>Now Showing (25th May - 21st June)</h2>
  <h3>Chicken Stingel by Kenny Schachter</h3>

  <!-- Cloudinary Video Player -->
  <video
    src="https://res.cloudinary.com/dyliwmprw/video/upload/v1747408168/chicken-stingel/vs1k2k4jy6vhopquf1zl.mov"
    controls
    width="100%"
  ></video>
  <p>
    By Kenny Schachter, Maura & Margaret. Weekends by appointment through
    June 21.
  </p>
</section>
